:root{
  --body-font-size:14px;
  --button-font-size: 14px;
  --title-font-size: 16px;

  --h2-font-size:30px;
  --h1-font-size:60px;

  --card-body-font-size:14px;
}

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.appbar {
  height: 60px;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding-inline-start: 5vmin;

  font-family: Helvetica, Arial, sans-serif;
  box-shadow: 0px -5px 0px;
  transition: box-shadow 0.35s;

  top: 0;
  left:0;
  right:0;

  background: rgba(255, 255, 255, 0.5);

  position: sticky;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
  box-sizing: border-box;
}

.appbar a{
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.appbar .home{
  font-weight: 800;
  margin-inline-end: 16px;
}

.appbar:hover{
  box-shadow: 1px -5px 10px;
}

#outlet{
  padding: 16px;
  height: 200vh;
}

